<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Edit User</h1>

    <form action="/edit_user/{{one_user.id}}" method="POST">

        <label for="fname">First Name:</label>
        <input type="text" name="fname" value="{{one_user.first_name}}">
        <label for="lname">Last Name:</label>
        <input type="text" name="lname" value="{{one_user.last_name}}">
        <label for="em" >Email:</label>
        <input type="text" name="em" value="{{one_user.email}}">

        <input type="submit" value="Update">
    </form>
    <form action="/users/{{one_user.id}}">
        <input type="submit" value="View">
    </form>
</body>
</html>