<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Document</title>
</head>
<body>
    <h2>All Users</h2>
    <a href="/new_user">Add User</a>
    {% for one_user in all_users %}
    <p>======================================</p>
        <p>{{ one_user.first_name }} {{ one_user.last_name }}</a></p>
        <p>{{ one_user.email }}</p>
        <form action="/users/{{one_user.id}}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
        <form action="/users/{{one_user.id}}">
            <input type="submit" value="View">
        </form>
        <form action="/users/{{one_user.id}}/edit">
            <input type="submit" value="Edit">
        </form>
    {% endfor %}
</body>
</html>